= simple_form_for address do |a|
  = render 'address_fields', a: a
  = link_to "Cancel", user_address_card_path(current_user, current_user.address_card), class: "button"
  = a.submit 'Save', class: "button"

